@font-face {
	font-family: 'Nunito-Regular';
	src: url('fonts/Nunito-Regular.eot');
	src: local('☺'), url('fonts/Nunito-Regular.woff') format('woff'), url('fonts/Nunito-Regular.ttf') format('truetype'), url('fonts/Nunito-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Nunito-Bold';
	src: url('fonts/Nunito-Bold.eot');
	src: local('☺'), url('fonts/Nunito-Bold.woff') format('woff'), url('fonts/Nunito-Bold.ttf') format('truetype'), url('fonts/Nunito-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins-Regular';
	src: url('fonts/Poppins-Regular.eot');
	src: local('☺'), url('fonts/Poppins-Regular.woff') format('woff'), url('fonts/Poppins-Regular.ttf') format('truetype'), url('fonts/Poppins-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins-Medium';
	src: url('fonts/Poppins-Medium.eot');
	src: local('☺'), url('fonts/Poppins-Medium.woff') format('woff'), url('fonts/Poppins-Medium.ttf') format('truetype'), url('fonts/Poppins-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins-Bold';
	src: url('fonts/Poppins-Bold.eot');
	src: local('☺'), url('fonts/Poppins-Bold.woff') format('woff'), url('fonts/Poppins-Bold.ttf') format('truetype'), url('fonts/Poppins-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*flex*/
.dflex{
    display: flex;
    align-items: center;
}
.dflex-b{
    display: flex;
    justify-content: space-between;
}
/*couleurs*/
.coul-text
{
    color: #5B5766;
}
.coul-art
{
    color: #716C80;
}
.deg-button
{
    background-image: linear-gradient(to right,#6852ED,#BA43FC)
}
.coul-part
{
    color: #ffffff;
}
/*polices*/


body{
    margin: 0;
    font-family:'Nunito-Regular',sans-serif ;
}


.gr-contain
{
  width:70%;  
  max-width: 1920px;
  height: 4229px;
  margin: 0 0 0 390px;
}


.contain1
{
    max-width: 1882px;
    height: auto;
}


header{
    width: 641px;
    max-width: 650px;

}


header > p{
    width: 111px;
    max-width:115px;
    font-family: 'Nunito-Bold',sans-serif;
    font-size: 1rem;
    color: #554D89;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
   

nav{
    width:77%;
    max-width: 481px;
    font-family: 'Nunito-Regular',sans-serif;
    font-size: 1rem;
    
}


li{
    list-style-type:none;
}


a:hover{
    
    border-top:2px solid #554D89;
    padding-top: 10px;
    font-family:'Nunito-Bold',sans-serif ;
    font-size: 1.0625rem;
    color:#554D89;
}


a{
    text-decoration:none;  
    color: #5B5766;
}
  /*section imagehero après la navbar*/
 .text-imagehero > h1
 {
     margin-top:311px;
     font-family: 'Poppins-Bold',sans-serif;
     font-size: 3.125rem;
     line-height: 3.75rem;
     color: #554D89;
 }


 .text-imagehero > p
 {
     font-size: 1.375rem;
     line-height: 2.0625rem;
     color: #5B5766;
 }


 .button
 {
     border-radius: 35px;
     font-family: 'Poppins-Medium',sans-serif;
     font-size: 1rem;
     border: none;
    width: 210px;
    height: 50px;
    text-align: center;
    margin-right: 30px;
    margin-top: 55px;
 }


/*section2*/



.contain2
{
    width: 80%;
    max-width: 1140px;
    height: 616px;
    margin-top: 30px;
}


.contain2 a{
    text-decoration: none;
    border:none;
    padding:none;
}



.article-c2
{
    width: 32%;
    max-width: 360px;
    height: 616px;
    font-family: 'Nunito-Regular',sans-serif;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #000000;
}
#flexio
{
    border-bottom:4px solid #554D89;
    padding-bottom: 30px;
}